.tari__ad-container{
    background-color: rgb(0, 0, 0);
    /* color: white; */
   
   
}

.tari__tag_container {
    display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
   padding-left: 40px;
   padding-right: 40px;


}

.tari__ad_title{
    color: white;
    font-size: 50px;
    padding-bottom: 50px;
}